.Root-list {
    color: white;
    text-align: left; 
    /* padding-left: 28em; */
    font-size: 19px;
}
.Root-listToo {
    color: white;
    text-align: left; 
    /* padding-left: 1em; */
    font-size: 19px;
}